<h1>Edit a Book</h1>

<form method="POST" action="/books/<%= @book.id %>">
  <input type="hidden" name="_method" value="patch">
  <input type="text" name="title"  value="<%= @book.title %>" placeholder="Enter a title">
  <input type="text" name="snippet"  value="<%= @book.snippet %>" placeholder="Enter a snippet">
  <input type="submit" />
</form>
